* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Fira Code', monospace;
    overflow: hidden;
    color: white;
    background-color: #050505;
    
}

.cosmos {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at center, #281b38 0%, #010029 20%, #030014 100%);
    
}



/* Sol */
.sun {
    width: 80px;
    height: 80px;
    background: #fcc40c;
    border-radius: 50%;
    box-shadow: 0 0 50px #ffcc00;
    position: absolute;
    z-index: 10;
    
}

/* Órbita */
.orbit {   
    width: 300px;
    height: 300px;  
    border: 1px border dashed rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-self: center;
    align-self: center;

    animation: rotate-orbit 10s linear infinite;
}
.orbit #moon-orbit {
    width: 115px;
    height: 115px;
    border: 1px dashed rgba(255, 255, 255, 0.2);    
    border-radius: 50%;
    position: absolute;
    top: -50px; 

   
}

/* Planeta */
.planet {
    border-radius: 50%;
}

.planet #planet-1 {
    background: #3498db;
    box-shadow: 
        inset -10px -10px 15px rgba(1, 41, 26, 0.5), 
        0 0 20px #44f7fd;
    height: 40px;
    width: 40px;
    position: absolute;
    top: -15px; 
}

.planet #planet-2 {
    background: #93db34;
    box-shadow: 
        inset -10px -10px 15px rgba(41, 35, 1, 0.5), 
        0 0 30px #ffe603;
    height: 30px;
    width: 30px;
    position: absolute;
    top: -135px; 
    left: 40px;
}
.planet #planet-3 {
    background: #db3434;
    box-shadow: 
        inset -10px -10px 15px rgba(41, 1, 1, 0.5), 
        0 0 30px #db3434;
    height: 70px;
    width: 70px;
    position: absolute;
    top: -250px; 
    left: 80px;
    
}

/* Lua */
.planet #planet-1 #moon {
    background: #d6d5d5;
    box-shadow: 
        inset -10px -10px 15px rgba(0, 0, 0, 0.5), 
        0 0 10px #555555;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: -12px; 
    left: 50px; 
    
}


/* Animação da órbita */
@keyframes rotate-orbit {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}